/* .thanks { */
  
    /* font-size: calc(10px + 2vmin);
    border: 1px solid black;
    font-size: calc(10px + 2vmin);
    border: 1px solid black;
    margin: 16px;
    padding:16px;
  } */
    /* text-align: center;
    font-size: calc(4px + 2vmin);
    border: 1px solid black;
    margin: 10px;
    padding:16px;
    height: 30px;
    
} */